/***********

body {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

table {
    width: 600px;
    border-collapse: separate;
}

th, td {
   
    padding: 7px;
}
th {
    text-transform: uppercase;
    border-top: 1px solid #999;
    border-bottom: 1px solid #111;
    text-align: left;
    font-size: 90%;
    letter-spacing: 0.1em;
}
tr .alternado{ 
    background: #efefef;
}

tr:hover {
    background: #c3e6e5;
}

.numero {
    text-align: right;
}
************Aula de estilizaçãode Tabelas css****************/

body {
    font-family: Arial, Helvetica, sans-serif, 'Trebuchet MS';
}

fieldset {
    padding: 1em;
    margin: 1em auto;
    border: 1px solide #ccc;
    background: #f8f8f8;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    cursor: pointer;
}

input[type="text"]{
    width: 20em;
}
textarea {
    width: 20em;
    height: 10em;
}

input.radio, input.checkbox, input.submit {
    width: auto;
}

.radio {
    margin-right: 1em;
}