/*barra menu Vertical*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    border: 1px solid red;
    width: 200px;
    height: 40px;
    display: block;
    color: #000000;
    text-decoration: none;
    text-indent: 40px;
    line-height: 40px;
    background: #f7b600 url(../arquivos-necessarios-barra-navegacao-vertical/menu.png) no-repeat left bottom;

}
 
a:hover {
    background-position: right bottom;
    background-color: #f99200;
    color: white;
}

#Home .Home a,
#Sobre .Sobre a {
    background-position: right bottom;
    background-color: #f99200;
    color: white;
}

}